#main {
    background-color: rgba(169, 169, 169, 0.363);
    text-align: center;
    
    
}
#img-div {
    background-color: white;
    
}
#img-caption {
    padding-top: 20px;
    padding-bottom: 20px;
}
#image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
h1 {
    font-size: 60px;
    padding-top: 40px;
}
h2 {
    font-size: 30px;
    padding-bottom: 30px;
    padding-top: 30px;
}
#tribute-info {
    text-align: justify;
    padding-left: 30%;
    padding-right: 30%;
}
li {
    padding-bottom: 20px;
}